{
	"streams": [
		{
			"input": 0,
			"url":"rtmp://server.example.com/live/test",
			"audioBitrate": "64k",
			"audioSampleRate": "48000",
			"videoBitrate": "8000k",
			"formatMode": 12,
			"frameRate": 30
		},
		{
			"input": 1,
			"url":"rtmp://server.example.com/live/test2",
			"audioBitrate": "64k",
			"audioSampleRate": "48000",
			"videoBitrate": "8000k",
			"formatMode": 12,
			"frameRate": 30
		},
	]
}
